:root {
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  font-size: 1vmax;
  --bg-main: url('../background.webp');
  --bg-board: url('../board4.webp');
  --bg-girl-speaking: url('../girl_speaking.webp');
  --bg-girl-thinking: url('../girl_thinking.webp');
  --bg-girl-happy: url('../girl_happy.webp');
  --bg-girl-crying: url('../girl_crying.webp');
  --bg-girl-surprised: url('../girl_surprised.webp');
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}